.bg
		{
			background:url('images/bg.png');
			background-size:cover;
			background-attachment:fixed;
			background-position:center center;
			overflow:hidden;
		}
		
		a{text-decoration:none;}
		*{margin:0px;padding:0px;}
		.clearfix:after
		{
			content:'';
			display:block;
			clear:both;
		}
		.nav
		{	
			width:100%;
			background:#1e9e69;
			height:90px;
			top:0px;
			z-index:9999;
		}
		h2{color:#fff;font-size:30px;}
		h1{color:#fff;}
		.nav ul
		{
			list-style-type:none;
		}
		.nav ul li
		{
			float:left;
			line-height:90px;
			display:inline-block;
		
		}
	 .logo a
		{
			float:left;
			line-height:90px;
			font-size:20px;
			font-weight:700;
			letter-spacing:1px;
			padding-left:30px;
		}
		.nav ul li a ,.logo a
		{
			display:inline-block;
			height:90px;
			width:100px;
			color:#fff;
			text-align: center;
		}
		a:hover{
			background: #3ef38de6;
		}
		

		