		.map{
			height: 583px;  
        	width:100%;
        	margin-top:-50px;
        	cursor:pointer;
		}
		.ol-popup {  
	        position: absolute;  
	        background-color: white;  
	        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));  
	        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));  
	        border-radius: 10px;
	        display:none;  
	        border: 1px solid #cccccc;  
	        bottom: 12px;  
	        left: -50px;  
      	}  
      	.ol-popup:after, .ol-popup:before {  
	        top: 100%;  
	        border: solid transparent;  
	        content: " ";  
	        height: 0;  
	        width: 0;  
	        position: absolute;  
	        pointer-events: none;  
      	}  
	      .ol-popup:after {  
	        border-top-color: white;  
	        border-width: 10px;  
	        left: 48px;  
	        margin-left: -10px;  
      	}  
      	.ol-popup:before {  
	        border-top-color: #cccccc;  
	        border-width: 11px;  
	        left: 48px;  
	        margin-left: -11px;  
      	}  
		.popup-content{
		    width:300px;
		    height:150px;
		}
		.popup-top{
			background: #a89797;
			border-radius: 10px 10px 0px 0px;
			width:100%;
			height:40px;
		}
		.popup-ul{
			list-style:none;
			text-align:center;
		}
		.popup-ul li{
			display: inline-block;
			width:80px;
			height:40px;
			line-height:40px;
			color:#fff;
		}
		.circle{
			display: inline-block;
			margin-left:15px;
			margin-top: 10px;
			height: 75px;
			width:75px;
			box-sizing: border-box;
			border: 5px solid #e9b12c;
			border-radius: 50%;
			text-align: center;
			line-height: 75px;
			font-size: 12px;
			color:#e9b12c;
			}
		.popup-text{
			display:inline-block;
			width:75px;
			margin-left:15px;
			text-align: center;
			height:30px;
			line-height: 30px;
			color: #e9b12c;
		}
		
		.echart{
			width:800px;
			height:500px;
			position:absolute;
			bottom:0px;
			display: none;

		}